@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{

    background-image: url(img/mistura\ de\ todas\ as\ epocas.jpg);

    background-repeat: no-repeat;

    background-size: cover;
}

/* Altera tudo ao redor do botão */
.inputs {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-right: 40px;


}
.inputs a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 35px;
    font-family: "Indie Flower", cursive;
    font-weight: 900;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.456);
    padding: 10px 30px;
    border-radius: 15px;


}
h1{
  text-transform: uppercase;
  font-size: 90px;
  color: rgb(252, 239, 0);
  font-family: "Indie Flower", cursive;
  font-weight: 700;
  text-align: center;

}

.informacoes p{
  font-size: 30px;
  color: rgb(255, 0, 238);
  text-transform: uppercase;
  font-family: "Indie Flower", cursive;
  font-weight: 500;
  text-align: center;

}



